@page
@model IndexModel
@{
    ViewData["Title"] = "Main Screen";
}

<div class="text-center">
    <h1 class="display-4">Lyrical Learning</h1>
    <h2>The home of easy language learning by song!</h2>
    <input type="text" class="form-control" placeholder="Focus me!">
    <button class="btn">Click Me</button>
</div>