@page
@model LyricalLearning.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <h4>@error.ErrorMessage</h4>
        }
    </div>
}

<form method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Login</button>

    <div class="form-group form-check" style="margin-top: 10px; justify-content: center; display: flex;">
        <input asp-for="RememberMe" class="form-check-input" style="margin-right: 5px;" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

</form>