@page "/song/{id:int}"
@model SongModel
@{
    ViewData["Title"] = "Lyrics";
}

<html translate="no">
<div class="container text-center mt-5" id="lyricsContainer" style="display: none;">
    <h1 id="songTitle" class="display-4 mb-3"><span><a href="/" class="btn btn-secondary mb-4">← Back</a></span></h1>
    <div class="chat-box">
        <div id="chats"></div>
        <div class="msger-inputarea">
            <div class="msger-input" contenteditable="true">Enter your message...</div>
            <button type="button" class="msger-send-btn">Send</button>
        </div>
    </div>
</div>

<div class="container text-center mt-5" id="errorContainer" style="display: none;">
    <a href="/" class="btn btn-secondary mb-4">← Back</a>
    <h1 class="text-danger">Song not found</h1>
    <p class="text-muted">We couldn't find the lyrics for that song. Maybe try another one?</p>
</div>

@section Scripts {
    <script>
        const footer = document.querySelector('footer');
        if (footer) {
            footer.style.paddingTop = '1px';
            footer.style.paddingBottom = '1px';
            footer.style.lineHeight = "5vh"
        }
        document.addEventListener("DOMContentLoaded", function () {
            const pathSegments = window.location.pathname.split("/").filter(Boolean);
            const songId = pathSegments[pathSegments.length - 1];
            const params = new URLSearchParams(window.location.search);
            const mode = params.get('mode');

            function sendTxtMsg(data, mode, type) {
                const chats = document.querySelector('#chats');
                const count = chats.childElementCount;
                const build = document.createElement('div');
                build.className = `songLyrics-${type} msg-${count} text-start mx-auto`;
                build.style.whiteSpace = 'pre-wrap';
                build.style.maxWidth = '600px';
                build.style.fontSize = '1.2rem';
                chats.appendChild(build);
                const body = chats.querySelector(`.msg-${count}`);
                let pieces; let ids;
                if (mode === "paragraph") {
                    if (type == 'reply') { 
                        pieces = data; 
                    } else { pieces = data.paragraph; }
                } else if (mode === "words" || mode === "sentences") {
                    if (type === 'reply' || type === 'answers') {
                        pieces = data; 
                    } else {
                        pieces = data[mode]
                            .map(bit => bit['ru'])
                            .join('\n');
                        ids = data[mode]
                            .map(bit => bit['id'])
                            .join('|');
                        localStorage.setItem('ids', ids);
                    }
                }
                let HTML = ''
                HTML += pieces
                    .split('\n')
                    .map(p => p.trim())
                    .filter(p => p)
                    .map(p => `<div>${p}</div>`)
                    .join('');
                body.innerHTML += HTML
            }

            const styleElement = document.createElement("style");
            styleElement.innerHTML = `
                :root {
                    --grey: rgb(128 132 140);
                    --opa-grey: rgba(128 132 140 / 50%);
                    --salt: #fff;
                    --dark-green: rgb(0, 180, 50);
                    --green: rgb(0, 196, 65);
                }

                .container {
                    margin-left: 1vw !important;
                    margin-right: 0vw;
                    max-width: 95vw;
                }

                #lyricsContainer {
                    margin-top: 0 !important;
                    background: var(--opa-grey);
                    height: 80vh;
                    margin-left: 1.5vw !important;
                    margin-right: 2.5vw;
                }

                #lyricsContainer a {
                    margin-left: 2.5vw;
                    margin-top: 20px;
                }

                .chat-box {
                    overflow-x: hidden;
                    overflow-y: scroll;
                    height: 65vh;
                }

                .chat-box::-webkit-scrollbar { width: 0; }

                .songLyrics-bot {
                    display: block;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px; 
                    min-width: 15vw; width: fit-content;
                    padding: 10px; 
                    margin-left: 100px !important;
                    background: var(--grey);
                    counter-reset: line-counter;
                }

                .songLyrics-answers {
                    display: block;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px; 
                    min-width: 15vw; width: fit-content;
                    padding: 10px; 
                    margin-left: 100px !important;
                    counter-reset: line-counter;
                    margin-bottom: 1vw;
                    background: var(--opa-grey);
                }

                .songLyrics-reply {
                    display: block;
                    border-radius: 5px;
                    border-bottom-right-radius: 0px; 
                    min-width: 15vw; width: fit-content;
                    padding: 10px; 
                    margin-left: 65vw !important;
                    background: var(--salt);
                    color: black;
                    counter-reset: line-counter;
                }

                .songLyrics-reply div::before, .songLyrics-bot div::before, .songLyrics-answers div::before {
                    content: counter(line-counter) ". ";
                    left: 0; top: 0;
                    counter-increment: line-counter;
                }

                .msger-inputarea {
                    display: flex;
                    padding: 10px;
                    width: 30vw;
                    margin-top: 5vh; margin-bottom: 5vh;
                    margin-left: 50vw !important;
                    border-top: var(--border);
                    background: var(--opa-grey);
                }

                .msger-inputarea * {
                    padding: 10px;
                    border: none;
                    border-radius: 3px;
                    font-size: 1em;
                }
                .msger-input {
                    flex: 1;
                    background: var(--grey);
                    counter-reset: line-counter;
                }
                .msger-input div, 
                .msger-input br {
                    line-height: inherit;
                    margin: 0;
                    padding: 0;
                }
                .msger-input div::before {
                    content: counter(line-counter) ". ";
                    left: 0; top: 0;
                    counter-increment: line-counter;
                }
                .msger-send-btn {
                    margin-left: 10px;
                    background: var(--green);
                    color: var(--salt);
                    font-weight: bold;
                    cursor: pointer;
                    transition: background 0.23s;
                }
                .msger-send-btn:hover {
                    background: var(--dark-green);
                }
            `;
            document.head.appendChild(styleElement);

            fetch(`/api/${mode}/${songId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Song not found.");
                    }
                    return response.json();
                })
                .then(data => {
                    const title = document.getElementById('songTitle');
                    const container = document.getElementById('lyricsContainer');
                    title.innerHTML = mode.charAt(0).toUpperCase() + mode.slice(1) + ": " + data.title + title.innerHTML;
                    container.style.display = 'block';
                    sendTxtMsg(data, mode, 'bot');
                })
                .catch(err => {
                    console.error(err);
                    document.getElementById('errorContainer').style.display = 'block';
                });

            function newCatch() {
                fetch(`/api/${mode}/${songId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Song not found.");
                        }
                        return response.json();
                    })
                    .then(data => { sendTxtMsg(data, mode, 'bot'); })
                    .catch(err => {
                        console.error(err);
                        document.getElementById('errorContainer').style.display = 'block';
                    });
            }

            @* FORM HANDLING ---------------------------------------- *@
            const sendBtn = document.querySelector('.msger-send-btn');
            const sendTxt = document.querySelector('.msger-input');
            const msgArea = document.querySelector('.msger-inputarea')
            msgArea.addEventListener('keydown', (e) => {
                mx = document.querySelector('#chats > div').childElementCount;
                if (e.key === 'Enter' && msgArea.querySelectorAll('div').length > mx) { 
                    e.preventDefault();
                    console.log('Er') 
                }
                if (['Enter your message...', '', '\n'].includes(sendTxt.innerText)) { 
                    sendTxt.innerText = ''; sendTxt.innerHTML = "<div></div>"; 
                };
            });
            sendBtn.addEventListener('click', () => sendIt());
            function sendIt() {
                const Msg = sendTxt.innerText; sendTxt.innerText = '';
                const title = document.getElementById('songTitle');
                const Mode = title.innerHTML.split(':')[0].toLowerCase();
                let ids = localStorage.getItem('ids');
                fetch(`/api/answers/${Mode}/${ids}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Song not found.", response);
                    }
                    return response.json();
                })
                .then(data => {
                    ids = data.answers.join('\n');
                    sendTxtMsg(Msg, Mode, 'reply');
                    sendTxtMsg(ids, Mode, 'answers');
                })
                .catch(err => {
                    console.error(err);
                    document.getElementById('errorContainer').style.display = 'block';
                    sendTxtMsg(Msg, Mode, 'reply');
                    sendTxtMsg(ids, 'ids', 'bot');
                });
                setTimeout(newCatch, 1000);
            };
        });
    </script>
}
